<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OPENAI_API_KEY</key>
    <string>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</string>
</dict>
</plist>
