<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
